<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OPENAI_API_KEY</key>
    <string>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</string>
</dict>
</plist>
