<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
